body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.color-name {
    color: orange;
    display: block;
}

.half-width {
    width: 40%;
    padding-left: 5px;
}

.half-width img {
    width: 80%;
}

.first-parent {
    display: flex;
    margin: 5%;
    justify-content: center;
}

.margin-side {
    margin-top: 120px;
}

.fourth-parent {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(4deg, tomato, red);
    padding: 10px 30px;
    color: white;
    font-weight: 250;
    border-radius: 10px;
    border: none;
}

.second-section {
    text-align: center;
}

.color {
    color: orange;
}

.mission {
    width: 250px;
    background-color: lightskyblue;
    border-radius: 10px;
    margin-right: 40px;
    padding: 20px;
    text-align: center;
}

.vission {
    width: 250px;
    background-color: lightsalmon;
    border-radius: 10px;
    margin-right: 40px;
    padding: 20px;
}

.goals {
    width: 250px;
    background-color: lightpink;
    border-radius: 10px;
    padding: 20px;
}

.img-width img {
    width: 60%;
}

.all-3part {
    display: flex;
    justify-content: center;
}

.third-parent {
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
}

.padding-top {
    padding-top: 50px;
}

.block {
    display: block;
}

.button2 {
    text-decoration: none;
    background-image: linear-gradient(4deg, tomato, red);
    padding: 10px 40px;
    color: white;
    font-weight: 250;
    border-radius: 10px;
    border: none;
}

.padding-left {
    padding-left: 40px;
}

.save-omicron {
    text-align: center;
    padding-bottom: 50px;
}

.all-omicron {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.font-size {
    font-weight: 700;
}

.start-mission {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.red {
    color: brown;
}

.bold {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 500px;
    padding-top: 50px;
    border-top-width: 5px;
    display: inline;
}

.border-shadow {
    border-left-style: solid;
    border-color: orangered;
    padding-left: 15px;
    border-width: 5px;
    border-top-width: 5px;
    border-start-start-radius: 5px;
    font-size: 50px;
}

.foot {
    padding-bottom: 30px;
}